[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=projectConsole;
X-KDE-AuthorizeAction=shell_access

[Desktop Action projectConsole]
Exec=bash -c 'cd %f && exec konsole -p colors=Casetool -e casetool --here --console'
Icon=utilities-project console

Name=Open Project Console
Name[af]=Maak Terminaal Hier Oop
Name[ar]=افتح الطرفية هنا
Name[ast]=Abrir project console equí
Name[be]=Адкрыць тэрмінал тут
Name[be@latin]=Adčyni terminał
Name[bg]=Отваряне на терминал тук
Name[bn]=এখানে টার্মিনাল খোলো 
Name[bn_IN]=এইস্থানে টার্মিন্যাল আরম্ভ করুন
Name[br]=Digeriñ un termenell amañ
Name[bs]=Otvori project console ovdje
Name[ca]=Obre un project console aquí
Name[ca@valencia]=Obri un project console ací
Name[cs]=Otevřít terminál zde
Name[csb]=Òtemkni tuwò project console
Name[cy]=Agor Terfynell Yma
Name[da]=Åbn project console her
Name[de]=Terminal hier öffnen
Name[el]=Άνοιγμα τερματικού εδώ
Name[en_GB]=Open Project Console
Name[eo]=Malfermi project consoleon ĉi tie
Name[es]=Abrir project console aquí
Name[et]=Ava siin project console
Name[eu]=Ireki project consolea hemen
Name[fa]=باز کردن پایانه در اینجا
Name[fi]=Avaa pääteikkuna tähän
Name[fr]=Ouvrir un project console ici
Name[fy]=Terminal iepenje
Name[ga]=Oscail Teirminéal Anseo
Name[gl]=Abrir unha project console aquí
Name[gu]=અહીં ટર્મિનલ ખોલો
Name[he]=פתיחת מסוף מכאן
Name[hi]=टर्मिनल यहाँ खोलें
Name[hne]=टर्मिनल इहां खोलव
Name[hr]=Ovdje otvori project console
Name[hsb]=Terminal tu wočinić
Name[hu]=Parancsértelmező megnyitása itt
Name[ia]=Aperi le project console ci
Name[id]=Buka Terminal Di Sini
Name[is]=Opna skjáhermi hér
Name[it]=Apri project consolee qui
Name[ja]=ここでターミナルを開く
Name[ka]=ტერმინალის აქ გახსნა
Name[kk]=Терминалды ашу
Name[km]=បើក​ស្ថានីយ​នៅ​​ទីនេះ
Name[kn]=ಆದೇಶತೆರೆಯನ್ನು (ಟರ್ಮಿನಲ್) ಇಲ್ಲಿ ತೆರೆ
Name[ko]=여기에서 터미널 열기
Name[ku]=Termînalê li virê veke
Name[lt]=Atverti čia project consoleą
Name[lv]=Atvērt termināli šeit
Name[mai]=टर्मिनल एतय खोलू
Name[mk]=Отвори терминал тука
Name[ml]=ഇവിടെ ടെര്‍മിനല്‍ തുറക്കുക 
Name[mr]=टर्मिनल येथे उघडा
Name[ms]=Buka Terminal Di Sini
Name[nb]=Åpne project console her
Name[nds]=Konsool hier opmaken
Name[ne]=यहाँ टर्मिनल खोल्नुहोस्
Name[nl]=Terminal openen
Name[nn]=Opna project console her
Name[or]=ଏଠାରେ ଟର୍ମିନାଲ ଖୋଲନ୍ତୁ
Name[pa]=ਟਰਮੀਨਲ ਇੱਥੇ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz tutaj project console
Name[pt]=Abrir um Terminal Aqui
Name[pt_BR]=Abrir o project console aqui
Name[ro]=Deschide un project console aici
Name[ru]=Открыть терминал в этой папке
Name[se]=Raba terminála dáppe
Name[si]=මෙහි අග්‍රය විවෘත කරන්න
Name[sk]=Tu otvoriť terminál
Name[sl]=Odpri project console tukaj
Name[sr]=Отвори терминал овде
Name[sr@ijekavian]=Отвори терминал овдје
Name[sr@ijekavianlatin]=Otvori project console ovdje
Name[sr@latin]=Otvori project console ovde
Name[sv]=Öppna project console här
Name[ta]=முனைய இங்கே திற
Name[te]=టెర్మినల్‌ను ఇక్కడ తెరువుము
Name[tg]=Терминалро дар ин ҷо кушоед
Name[th]=เปิดเทอร์มินัลที่นี่
Name[tr]=Uçbirimi Burada Aç
Name[ug]=بۇ يەردە تېرمىنالنى ئاچ
Name[uk]=Відкрити термінал
Name[uz]=Terminalni shu yerda ochish
Name[uz@cyrillic]=Терминални шу ерда очиш
Name[vi]=Mở cửa sổ dòng lệnh ở đây
Name[wa]=Drovi on terminå chal
Name[xh]=Vula Isiphelo Sendlela Apha
Name[x-test]=xxOpen Project Consolexx
Name[zh_CN]=在此打开终端
Name[zh_TW]=在這裡開啟終端機

Comment=Opens a project console at the current folder
Comment[ast]=Abre una project console na carpeta actual
Comment[ca]=Obre un project console en la carpeta actual
Comment[ca@valencia]=Obri un project console en la carpeta actual
Comment[cs]=Otevře terminál v současné složce
Comment[da]=Åbner en project console i den aktuelle mappe
Comment[de]=Öffnet ein Terminal in dem aktuellen Ordner
Comment[el]=Ανοίγει τερματικό στον τρέχοντα φάκελο
Comment[en_GB]=Opens a project console at the current folder
Comment[es]=Abre una project console en la carpeta actual
Comment[et]=Terminali avamine aktiivses kataloogis
Comment[fa]=باز کردن یک پایانه در پوشه‌ی فعلی
Comment[fi]=Avaa päätteen nykyiseen kansioon
Comment[fr]=Ouvre un project console dans le dossier courant
Comment[gl]=Abre un project console no cartafol actual.
Comment[he]=פתח מסוף בתיקייה הנוכחית
Comment[hu]=Terminál megnyitása az aktuális mappában
Comment[ia]=Aperi un project console al dossier currente
Comment[id]=Buka sebuah project console di folder saat ini
Comment[is]=Opnar skjáhermi í viðkomandi möppu
Comment[it]=Apre un project consolee alla cartella attuale
Comment[ko]=현재 폴더에서 터미널 열기
Comment[nb]=Åpner en project console i gjeldende mappe
Comment[nl]=Opent een project console in de huidige map
Comment[nn]=Opnar eit project consolevindauge i gjeldande mappe
Comment[pl]=Otwiera project console w bieżącym katalogu
Comment[pt]=Abre um project console na pasta actual
Comment[pt_BR]=Abre um project console na pasta atual
Comment[ru]=Открывает терминал в текущей папке
Comment[sk]=Otvorí terminál v aktuálnom priečinku
Comment[sl]=Odpre project console v trenutni mapi
Comment[sr]=Отвори терминал на текућој фасцикли
Comment[sr@ijekavian]=Отвори терминал на текућој фасцикли
Comment[sr@ijekavianlatin]=Otvori project console na tekućoj fascikli
Comment[sr@latin]=Otvori project console na tekućoj fascikli
Comment[sv]=Öppnar en project console för aktuell katalog
Comment[tr]=Geçerli klasörde bir uçbirim açar
Comment[uk]=Відкрити термінал у поточній теці
Comment[x-test]=xxOpens a project console at the current folderxx
Comment[zh_CN]=在当前文件夹打开终端
Comment[zh_TW]=在目前的資料夾開啟終端機
